
<%= form_for @profile, html: { multipart: true } do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <div id="form">
  <div class="wrapper">
       <%= f.file_field :image %>
       <% if f.object.image? %>
         <%= image_tag f.object.image_url(:thumb) %><br>

         <%= f.label :remove_image %>
         <%= f.check_box :remove_image %>
         <% end %>
       </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit 'Upload', :class => 'btn btn-default' %>

</form>
<% end %>
