<ul class="nav nav-tabs">
  <li role="presentation"><a href="/welcome">Home</a></li>
  <li role="presentation" class="active"><a href="/profiles">Profile</a></li>


<% if user_signed_in? %>
      Signed in as <%= current_user.email %>.
    <li role="presentation"> <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li role="presentation"> <%= link_to 'Register', new_user_registration_path %><li>  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <% end %>


</ul>


<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.description %></td>
        <td><%= image_tag profile.image_url(:thumb) %></td>
        <td><%= link_to 'Show', show_path(profile) %></td>
        <td><%= link_to 'Destroy', destroy_path(profile), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
