<ul class="nav nav-tabs">
  <li role="presentation"><a href="/welcome">Home</a></li>
  <li role="presentation" class="active"><a href="/profiles">Photos</a></li>


<% if user_signed_in? %>
      Signed in as <%= current_user.email %>.
    <li role="presentation"> <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li role="presentation"> <%= link_to 'Register', new_user_registration_path %><li>  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <% end %>


</ul>


<p id="notice"><%= notice %></p>

<h1><%= current_user.username %>'s Gallery</h1>
<Center><%= link_to 'Upload Photos', new_path %></center>



    <% @profiles.each do |profile| %>
    <div id="instagramstuffs">
        <%= image_tag profile.image_url(:thumb) %><br>
        <%= link_to 'Info', show_path(profile) %> |
        <%= link_to 'Delete', destroy_path(profile), method: :delete, data: { confirm: 'Are you sure?' } %><br>
  </div>
    <% end %>
