<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/welcome">Home</a></li>
  <li role="presentation"><a href="/profiles" class="active">Photos</a></li>


<% if user_signed_in? %>
      Signed in as <%= current_user.email %>.
    <li role="presentation"> <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li role="presentation"> <%= link_to 'Register', new_user_registration_path %><li>  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <% end %>


</ul>


<p id="notice"><%= notice %></p>


  <strong>Image:</strong>
  <%= image_tag @profiles.image_url(:thumb) %>
</div>

<br>
<p>
  <strong>Name:</strong>
  <%= @profiles.name %></br>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @profiles.description %>
</p>




<%= link_to 'Back', profiles_path %>
</div>
