<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profiles.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profiles.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @profiles.image_url(:thumb) %>
</p>


<%= link_to 'Back', profiles_path %>
