
<iframe src="https://player.vimeo.com/video/130699654?autoplay=1&loop=1&background=1&color=ffffff&portrait=0" width="1000" height="570" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


<div class="container">
<% @trails.each do |trail| %>

  <div class="col-md-4">
    <h4><%= link_to trail.name, trail_name_path(trail.id) %></h4>
    <ul><small>
    <%= trail.location %>
    <%= trail.level %>
    <%= trail.distance %>
  </small>
    </ul>
    <br>
    </div>



<% end %>
</div>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
