
<% @trails.each do |trail| %>

<h1><%= link_to trail.name, trail_name_path(trail.id) %></h1>
<ul>
<%= trail.location %>
<%= trail.level %>
<%= trail.distance %>
</ul>
<% end %>


<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
