<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/welcome">Home</a></li>
  <li role="presentation"><a href="/profiles">Photos</a></li>


<% if user_signed_in? %>
      Signed in as <%= current_user.email %>.
    <li role="presentation"> <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li role="presentation"> <%= link_to 'Register', new_user_registration_path %><li>  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <% end %>


</ul>


<div id="trails">
<h1><%= @trails.name %></h1>
<p><%= @trails.location %></p>
<p><%= @trails.level %></p>
<p><%= @trails.distance %></p>
<p><%= link_to "google", @trails.directions %></p>

</div>

<%= render 'reviews/form' %>
<%= render 'reviews/reviews' %>
