<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/welcome">Home</a></li>
  <li role="presentation"><a href="/profiles">Photos</a></li>


<% if user_signed_in? %>
      Signed in as <%= current_user.email %>.
    <li role="presentation"> <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li role="presentation"> <%= link_to 'Register', new_user_registration_path %><li>  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <% end %>


</ul>


<div id="trails">
<h1><%= @trails.name %></h1>
<h6><%= @trails.location %> | Level: <%= @trails.level %> | <%= @trails.distance %></h6>


</div>

<%= render 'reviews/form' %>
<%= render 'reviews/reviews' %>
<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        width: 100%;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <h3>Directions</h3>
    <div id="map"></div>
    <script>
    function initMap() {
var myLatLng = {lat: <%= @trails.lat %>, lng: <%=@trails.lng %>};

var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 15,
  center: myLatLng
});

var marker = new google.maps.Marker({
  position: myLatLng,
  map: map,
  title: 'Hello World!'
});
}
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnA6Vq2_4VZQH_M8zAjK9QoYNyvcO8ri8&callback=initMap">
    </script>
  </body>
</html>
